.divhidden,
.divtop-bg-icon {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.divtop-bg-icon {
  height: 1.35%;
  width: 100%;
  right: 0;
  bottom: 98.65%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.divhidden {
  width: 1029.64px;
}
.div,
.divhidden-wrapper {
  position: absolute;
  top: 683px;
  left: 82.57px;
  width: 1029.64px;
  height: 98px;
}
.div {
  width: 100%;
  top: 57px;
  right: 0;
  left: 0;
  border-radius: var(--br-26xl) var(--br-26xl) 0 0;
  background-color: #090311;
  height: 7622px;
}
.web-design {
  position: absolute;
  top: 113px;
  left: 38px;
  letter-spacing: -0.3px;
  line-height: 48px;
  display: flex;
  align-items: center;
  width: 233px;
}
.divbrowser-column {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-mediumslateblue);
  width: 646.79px;
  height: 322px;
}
.divbrowser-column-wrapper {
  position: relative;
  width: 646.79px;
  height: 322px;
}
.divblock-1,
.divblock-1margin {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divblock-1 {
  border-radius: var(--br-26xl);
  background-color: var(--color-mediumslateblue);
  width: 646.8px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 0.009979248046875px 0 0;
  min-height: 322px;
}
.divblock-1margin {
  position: absolute;
  height: calc(100% - 266.41px);
  width: calc(100% - 313.61px);
  top: 0;
  right: 313.61px;
  bottom: 266.41px;
  left: 0;
  padding: 0 19.59381103515625px 19.59381103515625px 0;
}
.divoverview-inner,
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 466px;
  height: 331px;
}
.divoverview-inner {
  top: 342px;
  left: 515px;
}
.group-container,
.group-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 981px;
  height: 675px;
}
.group-wrapper {
  left: 4.43px;
}
.web-design1 {
  position: absolute;
  top: 113px;
  left: 42px;
  letter-spacing: -0.3px;
  line-height: 48px;
  display: flex;
  align-items: center;
  width: 233px;
}
.frame-wrapper {
  position: absolute;
  top: 342px;
  left: 519px;
  width: 466px;
  height: 331px;
}
.divblock-4,
.divblock-4-wrapper {
  position: absolute;
  left: 0;
  width: 495px;
  height: 323px;
}
.divblock-4 {
  top: 0;
  border-radius: var(--br-26xl);
  background-color: var(--color-mediumslateblue);
}
.divblock-4-wrapper {
  top: 352px;
}
.paid-advertising {
  position: relative;
  letter-spacing: -0.3px;
  line-height: 48px;
  display: flex;
  align-items: center;
  width: 289px;
  flex-shrink: 0;
}
.divblock-3margin {
  position: absolute;
  top: 0;
  left: 0;
  width: 339px;
  display: flex;
  flex-direction: row;
  padding: 0 19.59381103515625px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.divblock-3margin-wrapper {
  position: absolute;
  top: 477px;
  left: 25px;
  width: 339px;
  height: 96px;
}
.divdot {
  position: relative;
  border-radius: var(--br-31xl);
  background-color: #ff5532;
  width: 10px;
  height: 10px;
}
.divdotmargin {
  width: 14.5px;
  height: 10px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-8xs-5) 0 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divdot1,
.divdot2 {
  position: relative;
  border-radius: var(--br-31xl);
  background-color: #f3bd4f;
  width: 10px;
  height: 10px;
}
.divdot2 {
  background-color: #67c454;
}
.divbrowser-dots {
  width: 343px;
  height: 34px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-smi-5) 287.30999755859375px var(--padding-smi-5) 12px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.divbrowser-icon {
  position: relative;
  border-radius: 15px;
  width: 44px;
  height: 44px;
  object-fit: cover;
}
.divbrowser-icons {
  width: 57px;
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 6.379998683929443px 218px 6.400000095367432px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.divbrowser-right {
  flex: 1;
  position: relative;
  height: 238px;
  overflow: hidden;
}
.divbrowser,
.divbrowser-content {
  position: absolute;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.divbrowser-content {
  margin: 0 !important;
  height: 88.48%;
  width: 100%;
  top: 10.18%;
  right: 0;
  bottom: 1.34%;
  left: 0;
  padding: 0 0 0 3px;
  gap: 5.01px;
  z-index: 1;
}
.divbrowser {
  top: 45px;
  left: 308px;
  border-radius: 19px 0 var(--br-26xl) 0;
  background-color: #1b1a18;
  width: 343px;
  height: 277px;
  padding: 0 0 262px;
}
.group-inner {
  position: absolute;
  top: 269px;
  left: 159.43px;
  border-radius: var(--br-26xl);
  background-color: var(--color-mediumslateblue);
  width: 466px;
  height: 331px;
}
.email-marketing-1 {
  position: absolute;
  top: 289px;
  left: 225.43px;
  border-radius: 0 0 var(--br-26xl) 0;
  width: 400px;
  height: 311px;
  object-fit: cover;
}
.email-marketing {
  position: absolute;
  top: 404px;
  left: 188.43px;
  letter-spacing: -0.3px;
  line-height: 48px;
  display: flex;
  align-items: center;
  width: 289px;
}
.rectangle-div {
  position: absolute;
  top: 269px;
  left: 159px;
  border-radius: var(--br-26xl);
  background-color: var(--color-mediumslateblue);
  width: 466px;
  height: 331px;
}
.email-marketing-11 {
  position: absolute;
  top: 289px;
  left: 225px;
  border-radius: 0 0 var(--br-26xl) 0;
  width: 400px;
  height: 311px;
  object-fit: cover;
}
.email-marketing1 {
  position: absolute;
  top: 404px;
  left: 188px;
  letter-spacing: -0.3px;
  line-height: 48px;
  display: flex;
  align-items: center;
  width: 289px;
}
.link-64859706f8b87abd3612700 {
  position: absolute;
  width: calc(100% - 334.43px);
  top: calc(50% - 300px);
  right: 334.43px;
  left: 0;
  border-radius: 0 0 var(--br-26xl) 0;
  max-width: 100%;
  overflow: hidden;
  height: 249px;
  object-fit: cover;
}
.group-child1,
.rectangle-parent {
  position: absolute;
  top: 73px;
  left: 360px;
  width: 625.43px;
  height: 600px;
}
.group-child1 {
  top: 0;
  left: 671px;
  border-radius: var(--br-26xl);
  background-color: var(--color-mediumslateblue);
  width: 314px;
  height: 322px;
}
.funnel-building {
  position: absolute;
  top: 21px;
  left: 711px;
  letter-spacing: -0.3px;
  line-height: 48px;
  display: flex;
  align-items: center;
  width: 233px;
}
.dashboard-1-icon,
.divblock-guy-icon {
  position: absolute;
  top: 123px;
  left: 678px;
  width: 300px;
  height: 199px;
  object-fit: cover;
}
.divblock-guy-icon {
  top: 0;
  left: 0;
  border-radius: 0 0 var(--br-26xl) 0;
  width: 184px;
  height: 264.55px;
}
.divblock-guy-icon1,
.divblock-guy-wrapper {
  position: absolute;
  top: 366.29px;
  left: 311px;
  width: 184px;
  height: 264.55px;
}
.divblock-guy-icon1 {
  border-radius: 0 0 var(--br-26xl) 0;
  object-fit: cover;
}
.group-parent,
.web-design-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 985.43px;
  height: 675px;
}
.group-parent {
  top: 3193px;
  left: 459px;
  font-size: var(--font-size-29xl);
  color: var(--color-navy);
}
.heading-1 {
  position: absolute;
  top: 52px;
  left: calc(50% - 516px);
  font-size: 70px;
  letter-spacing: -3px;
  line-height: 115.2px;
  display: flex;
  align-items: center;
  width: 1150.78px;
  height: 112.13px;
}
.how-we-operate,
.how-we-operate-wrapper {
  position: absolute;
  top: 0;
  width: 433.08px;
  height: 51.75px;
}
.how-we-operate {
  left: 0;
  letter-spacing: -0.3px;
  line-height: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.how-we-operate-wrapper {
  left: 694px;
  text-align: center;
  font-size: var(--font-size-20xl);
}
.web-design-element-3-1 {
  position: absolute;
  top: 457.52px;
  left: 0;
  width: 583.36px;
  height: 471.48px;
}
.campaigns,
.results,
.strategy,
.we-always-strive,
.we-analyse-the,
.we-create-run {
  position: absolute;
  top: 241.06px;
  left: 224.92px;
  letter-spacing: -0.3px;
  line-height: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240.63px;
  height: 24.01px;
}
.campaigns,
.results,
.we-always-strive,
.we-analyse-the,
.we-create-run {
  left: 1320.81px;
  width: 206.54px;
}
.campaigns,
.we-always-strive,
.we-analyse-the,
.we-create-run {
  left: 712.21px;
  width: 315.83px;
}
.we-always-strive,
.we-analyse-the,
.we-create-run {
  top: 352px;
  left: 175px;
  font-size: var(--font-size-16xl);
  line-height: 35px;
  width: 357px;
  height: 144px;
}
.we-always-strive,
.we-create-run {
  top: 331px;
  left: 712px;
  width: 322px;
  height: 187px;
}
.we-always-strive {
  left: 1263px;
  width: 350px;
  height: 170px;
}
.campaign-icon-1,
.results-icon-1,
.strategy-icon-1 {
  position: absolute;
  top: 12.48px;
  left: 235.95px;
  width: 200.53px;
  height: 193.88px;
  object-fit: cover;
}
.campaign-icon-1,
.results-icon-1 {
  left: 769.36px;
  height: 192.08px;
}
.results-icon-1 {
  top: 0;
  left: 1304.77px;
  width: 220.58px;
  height: 204.9px;
}
.group-frame,
.web-design-element-3-1-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1613px;
  height: 929px;
}
.group-frame {
  top: 248px;
  text-align: center;
  font-size: var(--font-size-39xl);
}
.always {
  font-size: var(--font-size-61xl);
}
.heading-1-container1 {
  line-break: anywhere;
  width: 100%;
}
.heading-1-container {
  position: absolute;
  top: 35px;
  left: calc(50% - 533.5px);
  letter-spacing: -3px;
  line-height: 115.2px;
  display: flex;
  align-items: center;
  width: 1067px;
  height: 130px;
}
.our-philosophy {
  position: absolute;
  top: 0;
  left: 391px;
  font-size: var(--font-size-20xl);
  letter-spacing: -0.3px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
}
.group-div,
.heading-1-do-what-you-do-bes-group {
  position: absolute;
  top: 0;
  left: calc(50% - 533.5px);
  width: 1067px;
  height: 165px;
}
.group-div {
  top: 958px;
  left: calc(50% - 499px);
  font-size: var(--font-size-56xl);
}
.at-advantages-agency {
  position: absolute;
  top: 2054px;
  left: 167px;
  font-size: var(--font-size-21xl);
  letter-spacing: -0.3px;
  line-height: 35px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1441px;
  height: 178px;
}
.heading-11 {
  top: 1932px;
  left: calc(50% - 191px);
  letter-spacing: -3px;
  line-height: 115.2px;
  width: 450px;
}
.heading-11,
.heading-12,
.heading-13,
.heading-14,
.heading-15 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-12 {
  top: 3422px;
  left: calc(50% - 659px);
  letter-spacing: -3px;
  line-height: 115.2px;
  width: 1393px;
}
.heading-13,
.heading-14,
.heading-15 {
  text-align: center;
  justify-content: center;
}
.heading-13 {
  top: 4409px;
  left: calc(50% - 696px);
  font-size: var(--font-size-41xl);
  letter-spacing: -0.3px;
  line-height: 25px;
  font-weight: 600;
  color: #fffefe;
  width: 499px;
  height: 125px;
}
.heading-14,
.heading-15 {
  left: calc(50% - 20px);
  line-height: 115.2px;
}
.heading-14 {
  top: 4592px;
  font-size: 55px;
  letter-spacing: -3px;
  width: 823px;
}
.heading-15 {
  top: 5102px;
  font-size: var(--font-size-31xl);
  letter-spacing: -0.3px;
  width: 872px;
}
.schedule-a-meeting,
.what-we-offer {
  letter-spacing: -0.3px;
  font-weight: 600;
}
.what-we-offer {
  position: absolute;
  top: 1888px;
  left: 749px;
  font-size: var(--font-size-20xl);
  line-height: 26px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 274px;
  height: 38px;
}
.schedule-a-meeting {
  position: relative;
  line-height: 25px;
}
.link {
  position: absolute;
  top: 3092px;
  left: 661px;
  border-radius: var(--br-481xl);
  background-color: var(--color-mediumslateblue);
  width: 450px;
  height: 64px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xl) 216.4499969482422px var(--padding-mid)
    204.5500030517578px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-floralwhite);
}
.web-design-element-3-11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 600.16px;
  height: 608px;
  object-fit: cover;
}
.link1 {
  position: absolute;
  top: 458px;
  left: 623.51px;
  border-radius: var(--br-481xl);
  background-color: var(--color-mediumslateblue);
  width: 456.97px;
  height: 64px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xl) 216.4499969482422px var(--padding-mid)
    204.5500030517578px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  max-width: 550px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-floralwhite);
}
.at-advantages-digital,
.we-promote-transparency {
  position: absolute;
  letter-spacing: -0.3px;
  line-height: 35px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.at-advantages-digital {
  top: 97px;
  left: 616px;
  width: 801px;
  height: 132px;
}
.we-promote-transparency {
  top: 287px;
  left: 624px;
  width: 840px;
}
.web-design-element-3-1-group {
  position: absolute;
  top: 1139px;
  left: 175px;
  width: 1464px;
  height: 608px;
  font-size: var(--font-size-16xl);
}
.lets-speak-in {
  position: absolute;
  top: 3363px;
  left: 629px;
  font-size: var(--font-size-31xl);
  letter-spacing: -1.55px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
}
.at-advantages-digital1,
.b,
.b1 {
  position: absolute;
  top: 3672px;
  left: 689px;
  letter-spacing: -3px;
  line-height: 115.2px;
}
.at-advantages-digital1,
.b1 {
  left: 366px;
}
.at-advantages-digital1 {
  top: 3927px;
  left: 163px;
  font-size: var(--font-size-16xl);
  line-height: 35px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 447px;
}
.is-our-average {
  margin: 0;
}
.clients,
.is-our-average-container {
  position: absolute;
  letter-spacing: -3px;
  line-height: 35px;
}
.is-our-average-container {
  top: 3927px;
  left: 1177px;
  font-size: var(--font-size-16xl);
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  width: 409px;
}
.clients {
  top: 3806px;
  left: 331px;
  font-size: var(--font-size-21xl);
  color: var(--color-mediumslateblue);
}
.is-the-monthly {
  top: 3927px;
  left: 667px;
  font-size: var(--font-size-16xl);
  line-height: 35px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 415px;
}
.is-the-monthly,
.monthly-ad-spend,
.x {
  position: absolute;
  letter-spacing: -3px;
}
.monthly-ad-spend {
  top: 3803px;
  left: 718px;
  font-size: var(--font-size-21xl);
  line-height: 35px;
  color: var(--color-mediumslateblue);
}
.x {
  top: 0;
  left: 25px;
  line-height: 115.2px;
}
.span {
  color: #4b4efc;
}
.average-roi {
  position: absolute;
  top: 131px;
  left: 0;
  font-size: var(--font-size-21xl);
  letter-spacing: -3px;
  line-height: 35px;
  color: var(--color-mediumslateblue);
}
.x-parent {
  position: absolute;
  top: 3672px;
  left: 1273px;
  width: 210px;
  height: 166px;
}
.lets-talk,
.this-is-a-container {
  position: absolute;
  letter-spacing: -0.3px;
}
.lets-talk {
  top: 4361px;
  left: 228px;
  line-height: 25px;
  text-align: center;
}
.this-is-a-container {
  top: 4750px;
  left: 886px;
  font-size: var(--font-size-16xl);
  line-height: 35px;
  font-weight: 600;
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  width: 818px;
  height: 309px;
}
.group-icon {
  position: absolute;
  top: 4292px;
  left: 845px;
  width: 300px;
  height: 300px;
}
.blue-check-mark-icon-5 {
  position: absolute;
  top: 5270px;
  left: 891px;
  width: 40.23px;
  height: 40px;
  object-fit: cover;
}
.blue-check-mark-icon-6,
.blue-check-mark-icon-7,
.blue-check-mark-icon-8 {
  position: absolute;
  top: 5400px;
  left: 891px;
  width: 40.23px;
  height: 40px;
  object-fit: cover;
}
.blue-check-mark-icon-7,
.blue-check-mark-icon-8 {
  top: 5570px;
}
.blue-check-mark-icon-8 {
  top: 5700px;
}
.businesses-looking-for,
.businesses-looking-to,
.businesses-looking-to1,
.businesses-looking-to2 {
  position: absolute;
  top: 5270px;
  left: 967px;
  font-size: var(--font-size-11xl);
  letter-spacing: -0.3px;
  line-height: 40px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 717px;
}
.businesses-looking-for,
.businesses-looking-to1,
.businesses-looking-to2 {
  top: 5400px;
  left: 964px;
  width: 732px;
}
.businesses-looking-for,
.businesses-looking-to2 {
  top: 5570px;
  width: 694px;
}
.businesses-looking-for {
  top: 5700px;
  left: 962px;
  width: 706px;
}
.heading-1-do-what-you-do-bes-parent {
  position: absolute;
  top: 913px;
  left: calc(50% - 886px);
  width: 1704px;
  height: 5780px;
  font-size: var(--font-size-61xl);
}
.advantages-logo-website-2 {
  position: absolute;
  top: 7495px;
  left: 765px;
  width: 400px;
  height: 115.92px;
  object-fit: cover;
}
.copyrights-2023 {
  position: absolute;
  top: 7636px;
  left: 607px;
  font-size: var(--font-size-6xl);
  letter-spacing: -0.3px;
  line-height: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 693px;
}
.divcontent-child {
  position: absolute;
  top: 7021px;
  left: 960px;
  width: 777px;
  height: 261px;
}
.adrianadvantagesdigitalcom,
.inquiries {
  position: absolute;
  letter-spacing: -0.3px;
  display: flex;
  align-items: center;
}
.inquiries {
  top: 7058px;
  left: 1054px;
  font-size: var(--font-size-21xl);
  line-height: 20px;
  font-weight: 600;
  color: #000;
  width: 165px;
  height: 35px;
}
.adrianadvantagesdigitalcom {
  top: 7126px;
  left: 1055px;
  line-height: 30px;
  width: 454px;
}
.adrianadvantagesdigitalcom,
.span1 {
  font-weight: 600;
  color: var(--color-mediumslateblue);
}
.if-you-have-container {
  top: 7180px;
  left: 188px;
  letter-spacing: -0.3px;
  line-height: 30px;
  width: 662px;
  height: 112px;
}
.div1,
.heading-16,
.if-you-have-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.div1 {
  top: 7180px;
  left: 1054px;
  letter-spacing: -0.3px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-mediumslateblue);
  width: 241px;
}
.heading-16 {
  top: 6989px;
  left: calc(50% - 772px);
  font-size: var(--font-size-61xl);
  letter-spacing: -3px;
  line-height: 80px;
  width: 598px;
}
.divcontent-item {
  position: absolute;
  top: 5505px;
  left: 150px;
  background-color: #d9d9d9;
  width: 720px;
  height: 1252px;
}
.group-child2 {
  position: absolute;
  top: 14.97px;
  left: 238.67px;
  border-radius: 0 2px 0 0;
  background-color: var(--color-mediumslateblue);
  width: 130.45px;
  height: 13.03px;
}
.creating-engaging-campaigns {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.3px;
  line-height: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 603px;
  height: 23px;
}
.rectangle-group {
  position: absolute;
  top: 3926px;
  left: 679px;
  width: 603px;
  height: 28px;
  text-align: center;
  font-size: var(--font-size-6xl);
}
.heading-17,
.we-help-e-commerce {
  position: absolute;
  display: flex;
  align-items: center;
}
.we-help-e-commerce {
  top: 474px;
  left: 969px;
  font-size: var(--font-size-11xl);
  letter-spacing: -0.3px;
  line-height: 40px;
  color: var(--color-white);
  width: 459px;
  height: 131px;
  text-shadow: 20px 0 54px #4b4efc;
}
.heading-17 {
  top: 197.6px;
  left: 0;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: -3px;
  line-height: 115.2px;
  justify-content: center;
  width: 1315px;
  height: 228px;
}
.web-design-element-2-1 {
  position: absolute;
  top: -24px;
  left: 194.96px;
  width: 871.75px;
  height: 868px;
  object-fit: cover;
}
.heading-18 {
  position: absolute;
  display: inline-block;
  font-family: Arial;
  top: 197.6px;
  font-weight: bold;
  left: 0;
  letter-spacing: -3px;
  line-height: 115.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1315px;
  height: 228px;
  -webkit-text-stroke: 2px #1962ff;
  color: transparent;
}
.heading-1-do-what-you-do-bes-container {
  position: absolute;
  top: 0;
  left: 54px;
  width: 1315px;
  height: 760px;
  text-align: center;
  font-size: var(--font-size-101xl);
}
.average-roi1,
.x1 {
  position: absolute;
  top: 125px;
  left: 0;
  letter-spacing: -3px;
  line-height: 35px;
}
.x1 {
  top: 0;
  left: 25px;
  font-size: var(--font-size-61xl);
  line-height: 115.2px;
  color: var(--color-white);
}
.average-roi-parent,
.link2 {
  position: absolute;
  top: 460px;
  left: 0;
  width: 210px;
  height: 160px;
}
.link2 {
  top: 649px;
  left: 969px;
  border-radius: var(--br-481xl);
  background-color: var(--color-mediumslateblue);
  width: 450px;
  height: 64px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xl) 216.4499969482422px var(--padding-mid)
    204.5500030517578px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  max-width: 550px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-floralwhite);
}
.conversion-rate {
  position: absolute;
  top: 75px;
  left: 0;
  letter-spacing: -3px;
  line-height: 35px;
}
.span2 {
  font-size: var(--font-size-41xl);
}
.b2 {
  position: absolute;
  top: 0;
  left: 34px;
  letter-spacing: -3px;
  line-height: 35px;
  color: var(--color-white);
  font-size: var(--font-size-61xl);
}
.conversion-rate-parent {
  position: absolute;
  top: 88px;
  left: 1146px;
  width: 281px;
  height: 110px;
}
.we-help-e-commerce-businesses-parent {
  position: absolute;
  top: 97px;
  left: 249px;
  width: 1428px;
  height: 760px;
  font-size: var(--font-size-21xl);
  color: var(--color-mediumslateblue);
}
.advantages-logo-website-1 {
  position: absolute;
  top: 0;
  left: 41px;
  width: 200px;
  height: 57.96px;
  object-fit: cover;
}
.divcontent {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border: 1px solid rgba(75, 78, 252, 0.33);
  box-sizing: border-box;
  height: 7679px;
  overflow: hidden;
}
.divtop-bg-parent {
  position: relative;
  width: 100%;
  height: 7679px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
