@media screen and (max-width: 768px) {
  .average-roi-parent,
  .conversion-rate-parent {
    display: none;
  }
  .advantages-logo-website-1 {
    position: relative;
    height: 100%;
  }
  .header {
    height: 0.8%;
    padding: 0;
    margin: 0;
  }
  .divcontent {
    height: calc(var(--index) * 440);
  }
  .div {
    position: relative;
    margin: 0 0;
    margin-bottom: 1%;
    width: 100%;
    height: calc(var(--index) * 435);  
    gap: 1%;
  }
  .we-help-e-commerce-businesses-parent {
    width: 100%;
    height: auto;
    top:1%;
    gap: calc(var(--index) * -0.9);
    flex-direction: column;
    margin-bottom: 20%;
  }
  .heading-1-do-what-you-do-bes-container {
    position: relative;
    width: 100%;
    height: 80%;
  }
  .heading-18,
  .heading-17 {
    font-size: calc(var(--index) * 3.5);
    width: 100%;
  }
  .web-design-element-2-1 {
    position: relative;
    width : calc(var(--index) * 34);
  }
  .we-help-box {
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20%;
    bottom: 0;
    right: 0;
  }
  .we-help-e-commerce {
    text-align: center;
    font-size: calc(var(--index) * 1.2);
  }
  .link2 {
    margin-top: 1%;
    padding: calc(var(--index) * 1) calc(var(--index) * 4
    );
  }

  .how-we-operate-box {
    gap: 7%;
    margin-bottom: 30%;
  }
  .how-we-operate-text-box {
    height: calc(var(--index) * 10);
  }
  .how-we-operate {
    font-size: calc(var(--index) * 1.9);
  }
  .heading-1 {
    font-size: calc(var(--index) * 2.5);
    width: 94%;
    letter-spacing: -1px;
  }
  .how-we-operate-clases-box {
    flex-direction: column;
  }
  .strategy-box,
  .campaign-box,
  .results-box {
    width: 50%;
    gap: 10px;
  }

  .web-design-element-3-1-group {
    height: 650vw;
  }
  .our-philosophy-box {
    height: 10%;
    width: 100%;
  }
  .statistics-box {
    height: 90%;
  }
  .our-philosophy {
    font-size: calc(var(--index) * 1.9);
  }
  .heading-1-container {
    font-size: calc(var(--index) * 2.5);
  }
  .statistics-box {
    position: relative;
    flex-direction: column;
    gap: 0;
  }
  .statistics-image-2 {
    width: calc(var(--index) * 28);
    position: absolute;
  }
  .your-profits-box {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .at-advantages-digital,
  .we-promote-transparency {
    position: absolute;
    width: 90%;
    font-size: calc(var(--index) * 1.4);
  }
  .at-advantages-digital {
    top: 6%;
  }
  .we-promote-transparency {
    bottom: 9%;
  }
  .link1 {
    position: absolute;
    bottom: 0%;
  }

  .heading-11 {
    font-size: calc(var(--index)*2.5);
  }
  .at-advantages-agency {
    font-size: calc(var(--index)*1.1);
    width: 90%;
  }
  .statistics-image {
    margin-left: 10%;
  }
  .creating-engaging-campaigns {
    font-size: calc(var(--index)*0.9);
  }
  .link2 {
    padding: 4% 15%;
    font-size: 30%;
  }
  .link1,
  .link {
    padding: 5% 25%;
    width: 0;
    height: 0;
    white-space: nowrap;
    font-size: 40%;
  }

  .numbers-box {
    margin: 10%;
    height: calc(var(--index) *50);
    gap: 2%;
  }
  .lets-speak-in {
    font-size: calc(var(--index) * 1.3);
  }
  .heading-12 {
    font-size: calc(var(--index) * 2.6);
  }
  .numbers-info-box {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .numbers-info1,
  .numbers-info2,
  .numbers-info3 {
    width: 80%;
  }
  .b1,
  .b,
  .x {
    font-size: calc(var(--index) * 3);
  }

  .clients,
  .monthly-ad-spend,
  .average-roi {
    font-size: calc(var(--index) * 2);
  }
  .at-advantages-digital1,
  .is-the-monthly,
  .is-our-average {
    font-size: calc(var(--index) * 1.2);
     width: 90%;
  }

  .lets-talk-box {
    height: 1100vw;
    position: relative;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    text-align: center;
  }
  .calendar-box {
    height: 10%;
  }
  .scheadule-a-free-strategy-call-box {
    height: 90%;
  }
  .lets-talk {
    position: absolute;
    font-size: calc(var(--index) * 2.3);
    top: 0;
  }
  .heading-13 {
    position: absolute;
    font-size: calc(var(--index) * 2.3);
    top: 3%;
  }
  .divcontent-item {
    position: absolute;
    top: 31%;
    width: 94%;
    height: 50%;
  }
  .adrian-icon-box {
    position: absolute;
    justify-content: center;
    top: 8%;
    margin: 0;
  }
  .adrian-icon {
    width: calc(var(--index) * 10);
  }
  .scheadule-text-box {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .text-box-1,
  .text-box-2 {
    position: absolute;
    width: 90%;
    top: 19%;
  }
  .text-box-2 {
    top: 84%;
  }
  .heading-14,
  .heading-15 {
    font-size: calc(var(--index) * 1.7);
  }
  .this-is-a-free,
  .simple-locate {
    font-size: calc(var(--index) * 1);
  }
  .check-mark-box {
    width: calc(var(--index) * 1.2);
  }
  .businesses-looking-for,
  .businesses-looking-to,
  .businesses-looking-to1,
  .businesses-looking-to2 {
    font-size: calc(var(--index) * 1);
    margin-bottom: 2%;
  }
  .contact-box {
    width: 90%;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    vertical-align: center;
    position: relative;
    height: calc(var(--index) * 40);
    gap: 5%;
  }
  .inquiry-box {
    position: relative;
  }
  .inquiry-box-style {
    width: 100%;
    height: 90%;
    border-radius: calc(var(--index) * 5);
    margin-right: 10%;
  }
  .inquiries {
    font-size: calc(var(--index) * 1.3);
  }
  .adrianadvantagesdigitalcom {
    font-size: calc(var(--index) * 0.9);
  }
  .div1 {
    font-size: calc(var(--index) * 0.9); 
  }
  .inquiry-box {
    position: absolute;
    width: 55%;
    height: 60%;
    top: 0;
    right: 0;
  }
  .heading-16 {
    position: absolute;
    width: 40%;
    top: 0;
    left: 0;
  }
  .if-you-have-a-general {
    position: absolute;
    font-size: calc(var(--index) * 1);
    width: 96%;
    bottom: -7%;
    left: 0;
    font-size: calc(var(--index) * 1.1);
  }
  .span1 {
    font-size: calc(var(--index) * 1.1);
  }

  .advantages-logo-website-2 {
    width: calc(var(--index) * 9);
  }
  .copyrights-2023 {
    font-size: calc(var(--index) * 0.7);
  }
}
