@media screen and (max-width: 1100px) and (min-width: 768px) {
    .divcontent {
      height: calc(var(--index) * 295);
    }
    .div {
      height: calc(var(--index) * 290);  
      gap: 3%;
    }
    .we-help-e-commerce {
      text-align: center;
      font-size: calc(var(--index) * 1.2);
      margin-bottom: 2%;
    }
    .we-help-e-commerce-businesses-parent {
      position: relative;
      flex-direction: column;
      height: calc(var(--index) *40);
      gap: 0;
      width: 95%;
      margin-bottom: -10%;
    }
    .web-design-element-2-1 {
      position: relative;
      width : calc(var(--index) * 35);
    }
    .we-help-box {
      position: relative;
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 10%;
      width: 90%;
      bottom: 1%;
      left: 0px;
      right: 10px;
    }
    .heading-1-do-what-you-do-bes-container {
      position: relative;
      width: 100%;
      height: 80%;
    }
    .link2 {
      padding: calc(var(--index) * 0.8) calc(var(--index) * 4);
    }
    .heading-1 {
      margin-top: calc(var(--index) * 1);
    }
    .how-we-operate-box {
      margin-bottom: 0;
    }
    .how-we-operate,
    .our-philosophy,
    .what-we-offer,
    .lets-speak-in {
      font-size: calc(var(--index) * 1.7);
    }
    .heading-1,
    .heading-1-container,
    .heading-12 {
      font-size: calc(var(--index) * 2.4);
    }
    .heading-11 {
      font-size: calc(var(--index) * 2.9);
    }
    .how-we-operate-clases-box {
      gap: 10%;
      margin-top: 5%;
    }
    .we-analyse-the,
    .we-create-run,
    .we-always-strive {
      margin-top: 2%;
      width: 120%;
      font-size: calc(var(--index) * 1);
    }
    .strategy-box,
    .campaign-box,
    .results-box {
      border: 1px solid transparent;
      width: 22%;
      height: 100%;
      gap: 4%;
    }
    .our-services-box {
      margin-top: 0;
      margin-top: -10%;
    }
    .statistics-image-2 {
      width: calc(var(--index) * 18);
    }
    .at-advantages-digital,
    .we-promote-transparency {
      letter-spacing: -0.5px;
      line-height: 120%;
      width: 96%;
      font-size: calc(var(--index) * 0.9);
      margin-bottom: 2%;
    }
    .your-profits-box {
      width: 50%;
    }
    .link1,
    .link {
      width: calc(var(--index) * 15);
      height: calc(var(--index) * 2.3);
    }
    .at-advantages-agency {
      width: 90%;
    }
    .numbers-box {
      margin: 0;
      margin-top: -10%;
    }
    .numbers-info-box {
      gap: 10%;
    }
    .numbers-info1,
    .numbers-info2,
    .numbers-info3 {
      width: 25%;
    }
    .b1,
    .b,
    .x {
      font-size: calc(var(--index) * 2.4);
    }
    .clients,
    .monthly-ad-spend,
    .average-roi {
      font-size: calc(var(--index) * 1);
      color: #1962ff;
      margin-bottom: 6%;
    }
    .at-advantages-digital1,
    .is-the-monthly,
    .is-our-average {
      font-size: calc(var(--index) * 0.8);
      width: calc(var(--index) * 12);
    }
  
  
  
    .lets-talk-box {
      height: 100%;
      position: relative;
      flex-direction: column;
      justify-content: center;
      vertical-align: center;
      align-items: center;
      text-align: center;
      margin-top: -6%;
    }
    .calendar-box {
      height: 11%;
    }
    .scheadule-a-free-strategy-call-box {
      height: 90%;
    }
    .lets-talk {
      position: absolute;
      font-size: calc(var(--index) * 2.3);
      top: 0;
    }
    .heading-13 {
      position: absolute;
      font-size: calc(var(--index) * 2.3);
      top: 3%;
    }
    .divcontent-item {
      position: absolute;
      top: 29%;
      width: 94%;
      height: 51%;
    }
    .adrian-icon-box {
      position: absolute;
      justify-content: center;
      top: 8%;
      margin: 0;
    }
    .adrian-icon {
      width: calc(var(--index) * 10);
    }
    .scheadule-text-box {
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .text-box-1,
    .text-box-2 {
      position: absolute;
      width: 90%;
      top: 19%;
    }
    .text-box-2 {
      top: 84%;
    }
    .heading-14,
    .heading-15 {
      font-size: calc(var(--index) * 1.7);
    }
    .this-is-a-free,
    .simple-locate {
      font-size: calc(var(--index) * 1);
    }
    .check-mark-box {
      width: calc(var(--index) * 1.2);
    }
    .businesses-looking-for,
    .businesses-looking-to,
    .businesses-looking-to1,
    .businesses-looking-to2 {
      font-size: calc(var(--index) * 1);
      margin-bottom: 2%;
    }
  
  
    .contact-box {
      width: 100%;
      height: auto;
      margin: -12%;
    }
    .have-a-general-inquiry-box {
      width: 45%;
    }
    .if-you-have-a-general {
      font-size: calc(var(--index) * 0.9);
    }
    .adrianadvantagesdigitalcom {
      font-size: calc(var(--index) * 0.9);
    }
    .heading-16 {
      font-size: calc(var(--index) * 2);
    }
    .inquiry-box {
      height: 90%;
      width: 45%;
    }
    .inquiry-box-style {
      border-radius: calc(var(--index) * 5);
      padding-left: 15%;
    }
    .span1 {
      font-size: calc(var(--index) * 0.9);
    }
    .inquiries {
      font-size: calc(var(--index) * 1.6);
    }
    
    .div1 {
      font-size: calc(var(--index) * 0.9);
    }
  }