@media (max-width: 720px) {

    /*General*/
    .general-container {
        gap: 20vw;
    }

    /*Header*/
    .header {
        display: flex;
        justify-content: space-between;
        vertical-align: center;
        align-items: center;
        width: 100%;
        height: 6vh;
        margin-bottom: 7vw;
    } 
    .header-schedule {
        height: 50%;
        width: 100%;
        border-radius: 100vh;
        font-size: 1.1vh;
        font-weight: 600;
        user-select: none;
        cursor: pointer;
        transition: 0.5s;
        background-color: white;
    }
    .header-schedule:hover {
        font-size: 1.12vh;
        height: 52%;
        width: 105%;
    }

    /*Hero*/
    .hero {
        height: 94vw;
        background-repeat: no-repeat;
        background-size:150%;
    }
    .under-hero {
        bottom: 0;
    }
    .tag-list {
        font-size: 4.5vw;
        padding-bottom: 2.5vw;
        padding-top: 2.5vw;
    }

    /*Our Philosophy*/
    .our-philosophy {
        display: none;
    }
    .our-philosophy-phone {
        display: flex;
        flex-direction: column;
        vertical-align: center;
        align-items: center;
        justify-content: center;
        gap: 2vw;
        padding: 0 3vh;
        user-select: none;
        height: 170vw;
        margin-bottom: 6vw;
    }
    .section-name {
        color: #A594FD;
        font-size: 16px;
        font-weight: 400;
    }
    .our-philosophy-phone-top {
        height: 25%;
        width: 100%;
        color: white;
    }
    .our-philosophy-phone-top h2 {
        margin: 0;
        font-size: 8vw;
    }
    .our-philosophy-phone-bottom {
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5vw;
    }
    .our-philosophy-phone-bottom-right {
        display: flex;
        flex-direction: column;
        margin-top: -21vw;
        width: 50%;
        height: 100%;
        gap: 1.5vw;
    }
    .our-philosophy-phone-bottom-right img {
        width: 100%;
        border-radius: 3vw;
    }
    .our-philosophy-phone-bottom-left {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        gap: 1.5vw;
    }
    .our-philosophy-phone-bottom-left img {
        width: 100%;
        border-radius: 3vw;
    }

    /*At Advantages Digital*/
    .at-advantages-digital {
        width: 80%;
        font-size: 6vw;
    }

    /*How we operate*/
    .how-we-operate {
        gap: 1vh;
        user-select: none;
    }
    .how-we-operate-top {
        width: 95%;
    }
    .how-we-operate-top h2 {
        font-size: 6vw;
    }
    .how-we-operate-center {
        gap: 5%;
        margin-bottom: 2vh;
        width: 90%;
        height: 45vh;
        padding-top: 4vh;
        justify-content: left;
        display: flex;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
        align-items: center;
    }
    .how-we-operate-center-containers {
        height: 100%;
        width: 100%;
        scroll-snap-align: start;
        background-color: #101010;
        flex-shrink: 0;
        border-radius: 5vh;
        transition: 0;
    }
    .how-we-operate-center-containers:hover {
        transition: 0; 
        height: 100%;
        width: 100%;
    }
    .how-we-operate-center-containers img {
        font-size: 7vh;
        width: 35%;
        margin-bottom: 20%;
        margin-left: 3%;
    }
    .how-we-operate-center-containers h2 {
        font-size: 18px;
        font-weight: 600;
    }
    .how-we-operate-center-containers p {
        font-size: 14px;
        margin-bottom: none;
        width: 100%;
        margin-left: auto;
    }
    .how-we-operate-bottom {
        display: none;
    }
    .arrows {
        display: flex;
        justify-content: center;
        gap: 4%;
        width: 100%;
        user-select:none;
    }
    .arrow {
        padding: 1vh 0;
        width: 43%;
        font-size: 35px;
        cursor: pointer;
        border-radius: 4vh;
        user-select:none;
    }
    .left {
        background-color: #101010;
        color: white;
    }
    .right {
        background-color: white;
        color: #101010;
    }

    /*Service delivery*/
    .service-delivery h2 {
        width: 70%;
        font-size: 30px;
    }
    .service-delivery-content {
        width: 87%;
    }
    .service-delivery-content-top {
        width: 100%;
    }
    .service-delivery-content-top img {
        content:url("/images/what-we-do-phone.png");
    }
    .service-delivery-content-bottom {
        flex-direction: column;
        width: 100%;
    }
    .service-delivery-content-bottom-1 {
        width: 100%;
    }
    .service-delivery-content-bottom-1 img {
        content:url("/images/done-for-you-phone.png");
    }
    .service-delivery-content-bottom-2 {
        width: 100%;
    }
    .service-delivery-content-bottom-2 img {
        content:url("/images/done-with-you-phone.png");
    }

    /* What we can do for you */
    .do-for-you {
        height: 150vw;
    }
    .do-for-you-top {
        height: 20%;
    }
    .do-for-you-top h2  {
        font-size: 7vw;
        line-height: 1;
    }
    .do-for-you-bottom {
        width: 95%;
        height: 90%;
        gap: 3%;
    }
    .do-for-you-bottom-left {
        display: none;
    }
    .do-for-you-bottom-right {
        width: 95%;
    }
    .do-for-image {
        display:none;
    }
    .phone-do-for-image {
        display:flex;
        width: 95%;
    }

    /* Schedule */
    .schedule {
        width: 100%;
        gap: 5vh;
    }
    .schedule-top {
        width: 90%;
    }
    .schedule-top h1 {
        font-size:8vw;
        line-height: 1;
        margin: 0;
    }
    .schedule-bottom {
        display: none;
    }
    .schedule-bottom-p {
        display: flex;
        justify-self: center;
        align-items: center;
        text-align: center;
        background-color: rgb(16, 16, 16);
        padding: 3vw 3vw;
        border-radius: 3vh;
        width: 90%;
        gap: 0;
        margin: 0;
    }
    .schedule-bottom-left { 
        border-radius: 3vh;
        width: 100%;
        height: 65vh;
        margin-bottom: 2vh;
    }
    .schedule-bottom-right {
        width: 100%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        text-align: center;
    }
    .adrian-image {
        height: 14vh;
        width: 14vh;
        border: 0.5vh solid white;
        border-radius: 50%;
    }
    .schedule-bottom-right h2{
        text-align: left;
        font-size: 7vw;
        margin: 0;
    }
    .schedule-bottom-right p{
        font-size: 5vw;
        width: auto;
    }
    .schedule-bottom-right ul {
        width: 100%;
        margin: 0;
    }
    .schedule-bottom-right ul li {
        text-align: left;
        font-size: 3.2vw;
    }
    .schedule-bottom-right ul li span {
        color: #A594FD;
    }

    /*Inquiry*/
    .inquiry {
        gap: 0;
        text-align: left;
        align-items: left;
        width: 100%;
        margin-bottom: 10vh;
    }
    .inquiry-top {
        width: 85%;
    }
    .inquiry-top h1 {
        margin-bottom: 1.5vh;
        margin-top: 0;
        font-size: 8vw;
    }
    .inquiry-top p{
        font-size: 4vw;
    }
    .inquiry-top p span{
        color: #A594FD;
    }
    .inquiry input {
        padding: 3vw 3vw;
        padding-left: 1.2vw;
        font-size: 4vw;
    }
    .inquiry-bottom {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
        margin-top: 2vh;
        width: 85%;
    }
    .inquiry button {
        border: none;
        padding: 3vw 3vw;
        border-radius: 3vw;
        font-weight: 600;
        font-size: 4vw;
    }
    .inquiry button:hover {
        font-size: 4.1vw;
    }
    .pop-up {
        padding:15vw 8vw;
        border: 1px solid white;
        box-shadow: none;
    }
    .pop-up-close {
        top: 5vw;
        right: 5vw;
    }
    .pop-up p {
        margin: 0;
        margin-bottom: 2%;
        font-size: 3vw;
    }
    .pop-up h1 {
        font-size: 7vw;
        font-weight: 600;
        margin: 0;
        text-align: center;
        margin-bottom: 6vw;
    }
    .pop-up-input-container {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }
    .pop-up-input {
        padding: 2vw 3vw;
        padding-left: 3vw;
        width: 70vw;
        font-size: 4vw;
        color: white;
    }
    .pop-up-button {
        font-size: 4vw;
        padding: 2.5vw 2vw;
    }

    /* Footer */
    .footer-left, .footer-center, .footer-right {
        display: none;
    }
    footer {
        padding: 0 0;
    }
    .footer-phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        vertical-align: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .copyrights-phone {
        color: white;
        font-size: 10px;
    }
    .footer-logo {
        width: 30%;
    }
}
