@media (max-width: 1280px) and (min-width: 900px){

    /*General*/
    .general-container {
        gap: 10vw;
    }

    /*Header*/
    .header {
        display: flex;
        justify-content: space-between;
        vertical-align: center;
        align-items: center;
        width: 100%;
        height: 9.5vw;
        margin-bottom: 7vw;
    } 

    /*Hero*/
    .hero {
        height: 75vw;
        background-size:140%;
    }
    .under-hero {
        bottom: 0;
    }
    .tag-list {
        font-size: 32px;
        padding-bottom: 20px;
        padding-top:20px;
    }

    /*Our Philosophy*/
    .our-philosophy-left {
        height: 60vw;
        width: 45%;
    }
    .our-philosophy-left-top {
        font-size: 30px;
    }
    .our-philosophy-right {
        height: 40vw;
        width: 45%;
        gap: 3%;
    }
    .our-philosophy-left-bottom-img-1 {
        border-radius: 2vw;
    }
    .our-philosophy-left-bottom-img-2 {
        border-radius: 2vw;
    }
    .our-philosophy-right-l-t {
        border-radius: 2vw;
        margin-bottom: 1vw;
    }
    .our-philosophy-right-l-b {
        border-radius: 2vw;
        height: 40%;
    }
    .our-philosophy-right-r-t {
        border-radius: 2vw;
        margin-bottom: 1vw;
    }
    .our-philosophy-right-r-b {
        border-radius: 2vh;
    }
    .section-name {
        font-size: 20px;
    }

    /*At Advantages Digital*/
    .at-advantages-digital {
        width: 85%;
        font-size: 4.5vw;
    }

    /*How we operate*/
    .how-we-operate {
        gap: 2vw;
    }
    .how-we-operate-top {
        width: 75%;
    }
    .how-we-operate-top h2 {
        font-size: 4.5vw;
    }
    .how-we-operate-center {
        gap: 2vw;
        width: 93%;
        height: 40vw;
        padding-top: 4vh;
    }
    .how-we-operate-center-containers {
        width: 30%;
        height: 95%;
        border-radius: 4vw;
    }
    .how-we-operate-center-containers img {
        font-size: 7vw;
        width: 35%;
        margin-bottom: 20%;
        margin-left: 3%;
    }
    .how-we-operate-center-containers h2 {
        font-weight: 600;
    }
    .how-we-operate-center-containers p {
        font-size: 1.3vw;
        margin-bottom: none;
        width: 100%;
        margin-left: auto;
    }
    .how-we-operate-bottom {
        color: white;
        display: flex;
        flex-direction: row;
        width: 80%;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 2vw;
        flex-wrap: wrap;
    }
    .how-we-operate-bottom p{
        padding: 1vw 2vw;
        border-radius: 0.9vw;
        font-weight: 600;
        background-color: #101010;
        margin: 0.1vw 0;
        transition: 0.5s;
    }
    .how-we-operate-bottom p:hover{
        transition: 0.5s;
        padding: 1.1vh 2.1vh;
    }

    /*Service delivery*/
    .service-delivery h2 {
        font-size: 40px;
    }
    .service-delivery-content {
        width: 90%;
    }

    /* What we can do for you */
    .do-for-you {
        gap: 5vw;
    }
    .do-for-you-top h2  {
        font-size: 5vw;
    }
    .do-for-you-bottom {
        width: 85%;
        height: 80%;
        gap: 3%;
    }
    .do-for-you-bottom-left {
        width: 55%;
        gap: 2vh;
    }
    .do-for-you-bottom-left h2 {
        font-size: 3vw;
        margin: 0 0 2vh 0;
    }
    .do-for-you-bottom-left p {
        font-size: 2vw;
    }
    .do-for-you-bottom-right {
        width: 43%;
        height: 50vw;
    }

    /* Schedule */
    .schedule {
        padding: 5vw 0;
        gap: 7vw;
    }
    .schedule-top h1 {
        font-size: 35px;
    }
    .schedule-bottom {
        padding: 2vw 2vw;
        width: 90%;
        gap: 3%;
    }
    .schedule-bottom-left { 
        background-color: #D9D9D9;
        border-radius: 3vw;
        width: 40%;
    }
    .schedule-bottom-right {
        width: 60%;
        height: 95%;
        color: white;
        margin-bottom: 3vw;
    }
    .adrian-image {
        height: 18vw;
        width: 18vw;
        border: 0.5vh solid white;
        border-radius: 50%;
    }
    .schedule-bottom-right h2{
        font-size: 27px;
    }
    .schedule-bottom-right p{
        font-size: 16px;
        width: 90%;
    }
    .schedule-bottom-right ul li {
        font-size: 16px;
    }
    .schedule-bottom-right ul li span {
        color: #A594FD;
    }

    /*Inquiry*/
    .inquiry {
        margin: 0;
        margin-bottom: 10vw;
        margin-top: 10vw;
        gap: 4vw;
    }
    .inquiry-top h1 {
        margin-bottom: 1.5vw;
        margin-top: 0;
        font-size: 50px;
    }
    .inquiry-top p{
        font-size: 14px;
    }
    .inquiry-top p span{
        color: #A594FD;
    }
    .inquiry input {
        padding: 1.3vw 3vw;
        padding-left: 1.2vw;
        font-size: 14px;
    }
    .inquiry button {
        border: none;
        padding-left: 3vw;
        padding-right: 3vw;
        border-radius: 8vw;
        font-weight: 600;
        font-size: 14px;
    }
    .inquiry button:hover {
        font-size: 15px;
    }
    .pop-up {
        padding: 10vw 9vw;
        border: none;
        box-shadow: 0px 0px 2vh #A594FD;;
    }
    .pop-up-close {
        top: 4vw;
        right: 4vw;
    }
    .pop-up p {
        margin: 0;
        margin-bottom: 2%;
        font-size: 12px;
    }
    .pop-up h1 {
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        margin: 0;
        margin-bottom: 5%;
    }
    .pop-up-input {
        display: flex;
        gap: 5%;
    }
    .pop-up-input-container {
        display: flex;
        gap: 1vh;
    }
    .pop-up-input {
        padding: 1.5vw 0.5vw;
        padding-left: 1vw;
        width: 30vw;
        font-size: 16px;
        color: white;
    }
    .pop-up-button {
        font-size: 16px;
        padding: 1.5vw 2.5vw;
    }

    /* Footer */
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: center;
        text-align: center;
        padding: 2vw 3vw;
        margin: 0;
        user-select: none;
    }
    .footer-left, .footer-right {
        font-size: 12px;
    }
    .footer-center {
        display: flex;
        text-align: center;
        vertical-align: center;
        align-items: center;
        font-size: 1px;
        margin-left: -2vh;
    }
    .footer-center a, .footer-center p{
        font-size: 18px;
    }
}
